html
  font-family: $g-font-family-base
  font-size: $g-font-size-base
  line-height: $g-line-height-base
  font-weight: $g-font-weight-base

body
  display: flex
  align-items: center
  justify-content: center

.info-line
  position: absolute
  left: 0
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: $info-line-height
  background-color: $g-color-grey
  font-size: pxtorem(12)
  color: $color-info-line-text
  &_top
    top: 0
    border-bottom: 1px solid $g-color-border
  &_bottom
    bottom: 0
    border-top: 1px solid $g-color-border

.button
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 8px 20px
  font-weight: 500
  &_accent
    background-color: $g-color-accent
    color: $g-color-white
    border-radius: 100px
  &:focus
    outline: none
  &:disabled
    background-color: $g-color-grey
    color: $color-order-card-info

.button_payment
  align-items: center
  background-color: #fff
  border: 1px solid $g-color-border
  border-radius: 8px
  color: $g-color-accent
  display: inline-flex
  justify-content: center
  margin: 20px 0
  padding: 15px
  text-transform: uppercase
  width: 90%
  &:hover, &:active, &:focus
    border: 1px solid $g-color-border
    outline-color: $g-color-border
  &.active
    background-color: $g-color-accent
    color: #fff

a.disable
  color: $color-info-line-text
