// Typography
// ========================================================================
$g-font-family-type-arial: 'Arial', sans-serif !default

$g-font-family-base: $g-font-family-type-arial
$g-font-size-base-number: 16 !default // only px
$g-font-size-base:  $g-font-size-base-number * 1px !default // only px
$g-line-height-base:  1.3 !default
$g-font-weight-base:  400 !default

// Other
// ========================================================================
$g-transition-duration: 0.25s
